<!-- this is only the body bits with the complete HTML in main.handlebars -->
<div class="row">
  <header class="pageTitle">
    <h1 class="Title">
      Take5: Hazard Identification Checklist
    </h1>
    <nav class="row">
        <a class="button" href="#">New Site</a>
      <!-- <a class="click six columns" href="#connect" >Connect</a> -->
    </nav>
  </header>
  <div class ="row">
    <h2>
      Notice Board
    </h2>
    <table>
      <tr>
        <th>Project Name</th>
        <th>Site Notifications</th>
      </tr>
      {{#each projects}}
      <tr>
        <td><a class="link" href="/index/{{project_id}}">{{project_name}}</a></td>
        <td>{{important_Notices}}</td>
      </tr>
      {{/each}}
    </table>
  </div>

  <article>
    <h2> Checks in:
    </h2>
    <p> Check your health and safety documentation: </br>
         Are you wearing the right safety gear? (hard hat, boots, etc.)</br>
         Did you attend safety induction to enter the workplace?</br>
         Have you informed the site manager / signed in at the Site access log book?</br>
         Inform your manager where you are before entering the site.</br>
         Locate the nearest fire escape.
   </p>
  </article>


</div>
