<!-- this is only the body bits with the complete HTML in main.handlebars -->
<div class="container">
  <header class="pageTitle">
    <h1 class="Title">
      Take5: Hazard Identification Checklist
    </h1>
    <nav class="row">
        <a class="link" href="#">New Site</a>
      <!-- <a class="click six columns" href="#connect" >Connect</a> -->
    </nav>
  </header>
  <div>
    <h2>
      Notice Board
    </h2>
    <table>
      <tr>
        <th>Project Name</th>
        <th>Site Notifications</th>
      </tr>
      {{#each projects}}
      <tr>
        <td><a class="link" href="/{{project_id}}">{{}}</a></td>
        <td>{{}}</td>
      </tr>
      {{/each}}
    </table>
  </div>

  <article>
    <h2> Checks in:
    </h2>
    <p> Check your health and safety documentation: </p>
    <p> Are you wearing the right safety gear? (hard hat, boots, etc.)</p>
    <p> Did you attend safety induction to enter the workplace?</p>
    <p> Have you informed the site manager / signed in at the Site access log book?</p>
    <p> Inform your manager where you are before entering the site.</p>
    <p> Locate the nearest fire escape.</p>
  </article>


</div>
