<!-- this is only the body bits with the complete HTML in main.handlebars -->
<div class="container">
  <header class="pageTitle">
    <h1 class="Title">
      Take5: Hazard Identification Checklist
    </h1>
    <nav class="row">
      <!-- <a class="click six columns" href="#connect" >Connect</a> -->
    </nav>
  </header>

  <div>

  </div>
</div>
