<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Take5 Hazard Checklist</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS Links-->
    <link rel="stylesheet" type="text/css" href="styles/main.css">


  </head>
  <body>
    <div class="container">
      <header class="pageTitle">
        <h1 class="Title">
          Take5 Hazard Identification list
        </h1>
        <nav class="row">
          <a class="click six columns" href="#connect" >Connect</a>
        </nav>
      </header>
      <div>
          
      </div>
    </div>
  </body>
