<div class="row">
  <header class="pageTitle">
    <h1 class="Title">
      New Hazard Entry
    </h1>

  </header>
  <div class ="project">
    <h2>
      Hazard:
    </h2>
    <form action ="/addingHazard" method = "post">
      <table>
        <tr> <th>Headings:</th><th>Desciptions:</th> </tr>
        <tr> <th>Hazard:</th>
          <td><input placeholder="hazard" type="text" name="hazard"/>
          </td>
        </tr>
        <tr> <th>Consequence: </th>
          <td><input placeholder="consequence" type="text" name="consequence"/>
          </td>
        </tr>
        <tr> <th>Photo: </th>
          <td><input placeholder="https://image/url" type="text" name="photos"/>
          </td>
        </tr>
        <tr> <th>Existing mitigation: </th>
          <td><input placeholder="existing mitigation" type="text" name="existing_mitigation"/>
          </td>
        </tr>
        <tr> <th>Future mitigation: </th>
          <td><input placeholder="future mitigation" type="text" name="future_mitigation"/>
          </td>
        </tr>
        <tr> <th>Add Notice: </th>
          <td><input placeholder="notices" type="text" name="add_notice"/>
          </td>
        </tr>
        <tr> <th>Owner: </th>
          <td><input placeholder="risk owner" type="text" name="owner"/>
          </td>
        </tr>
        <tr> <th>Liklihood: </th>
          <td><input placeholder="liklihood" type="text" name="liklihood"/>
          </td>
        </tr>
        <tr> <th>Eliminated: </th>
          <td><input placeholder="Eliminated" type="text" name="eliminated"/>
          </td>
        </tr>
    </table>
    <input type="submit" name = "submit" value = "submit" />
  </form>
  </div>


</div>
