<div class="row">
  <header class="pageTitle">
    <h1 class="Title">
      New PPE Item
    </h1>

  </header>
  <div class ="project">
    <h2>
      New PPE Equipment:
    </h2>
    <form action ="/addingPPE" method = "post">
      <table>
        <tr> <th>Headings:</th><th>Desciptions:</th> </tr>
        <tr> <th>PPE Name / description: </th>
          <td><input placeholder="PPE Item" type="text" name="ppe_name"/>
          </td>
        </tr>
        <tr> <th>Link Image: </th>
          <td><input placeholder="https://image/url" type="text" name="ppe_image"/>
          </td>
        </tr>
    </table>
    <input type="submit" name = "submit" value = "submit" />
  </form>
  </div>


</div>
