<div class="row">
  <header class="pageTitle">
    <h1 class="Title">
      New Project
    </h1>

  </header>
  <div class ="project">
    <h2>
      Project Information
    </h2>
    <form action ="/project" method = "post">
      <table>
        <tr> <th>Headings:</th><th>Desciptions:</th> </tr>
        <tr> <th>Project Number: </th>
          <td><input placeholder="Project Number" type="text" name="number"/>
          </td>
        </tr>
        <tr> <th>Project Name: </th>
          <td><input placeholder="Project Name" type="text" name="name"/>
          </td>
        </tr>
        <tr> <th>Location: </th>
          <td><input placeholder="Project Location" type="text" name="location"/>
            </td>
        </tr>
        <tr> <th>SWMS: </th>
          <td><input placeholder="SWMS" type="text" name="SWMS"/>
          </td>
        </tr>
        <tr><th>Important Notices: </th>
          <td><input placeholder="Important Notices" type="text" name="notice"/>
          </td>
        </tr>
      </table>
    <input type="submit" name = "submit" value = "submit" />
  </form>
  </div>

</div>
