<div class="container">
  <header class="pageTitle">
    <h1 class="Title">
      This.site HazardLog
    </h1>
    <nav class="row">
      <!-- <a class="click six columns" href="#connect" >Connect</a> -->
    </nav>
  </header>
  <div>
    <h2>
      Current Hazard Log
    </h2>
    <table>
      <tr>
        <th>Headings:</th>
        <th>Desciptions:</th>
      </tr>
      <tr>
        <th>Project Name: </th>
        <th>{{project_name}}</th>
      </tr>
      <tr>
        <th>Location: </th>
        <th>{{location}}</th>
      </tr>
      <tr>
        <th>SWMS: </th>
        <th>{{SWMS}}</th>
      </tr>
      <tr>
        <th>Important Notices: </th>
        <th>{{important_Notices}}</th>
      </tr>
    </table>
  </div>

  <footer>
    <nav>
      <a class="link" href="#">Add a risk</a>
      <a class="link" href="/index">Home</a>
    </nav>
  </footer>


</div>
