<div class="container">
  <header class="pageTitle">
    <h1 class="Title">
      This.site HazardLog
    </h1>
    <nav class="row">
      <!-- <a class="click six columns" href="#connect" >Connect</a> -->
    </nav>
  </header>
  <div>
    <h2>
      Current Hazard Log
    </h2>
    <table>
      <tr>
        <th>date</th>
        <th>Hazard</th>
        <th>Risk</th>
        <th>Risk Creator</th>
        <th>Owner</th>
        <th>Mitigation</th>
        <th>Eliminated</th>
        <th>Photos</th>
        <th>Edit</th>
      </tr>
      <tr>
        <th>'''date'''</th>
        <th>'''Hazard'''</th>
        <th>'''Risk'''</th>
        <th>'''Risk Creator'''</th>
        <th>'''Owner'''</th>
        <th>'''Mitigation'''</th>
        <th>'''Eliminated'''</th>
        <th>'''photos'''</th>
        <th>Edit</th>
      </tr>
      <tr>
        <th>'''date'''</th>
        <th>'''Hazard'''</th>
        <th>'''Risk'''</th>
        <th>'''Risk Creator'''</th>
        <th>'''Owner'''</th>
        <th>'''Mitigation'''</th>
        <th>'''Eliminated'''</th>
        <th>'''photos'''</th>
        <th>Edit</th>
      </tr>
    </table>
  </div>

  <footer>
    <nav>
      <a class="link" href="#">Add a risk</a>
      <a class="link" href="#">Home</a>
    </nav>
  </footer>


</div>
